<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3878/3878562.png" type="image/x-icon">
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'search.css')}}">
    
</head>
    <body>
        <div class = "top_part"> 
            <div class = "top_text">
                <h1 id="headline">{{ headline }}</h1>
                <form action="search" method="GET">
                    <input  class = "input" type="text" name="searchinput" placeholder="Type your query...">
                    <button class = "button" type="submit">Search!</button>
                </form>
                <p>{{ searchinfo | safe }}</p>
            </div>
            <div class = "top_picture">
                <img src="https://cdn.dribbble.com/users/1044993/screenshots/15202490/quokka_dribbble_4x.png" >
            </div>
        </div>

        <div class = "results">
            {% for e in resultList %}
                <div class = "result_element">
                    <div class = "result_title">
                        <a href={{e[0]}}>{{e[1]}}</a>
                        <p class="link_presentation">{{e[0]}}</p>
                    </div>

                   

                    <div class = "result_content">
                        <p class="subcontent">{{e[2] |safe }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>