<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3878/3878562.png" type="image/x-icon">
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'start.css')}}">
    
</head>
    <body>
        <div class = "start_search">
            <h1 id="headline">{{ headline }}</h1>
            <form action="search" method="GET">
                <input class = "input" type="text" name="searchinput" placeholder="Type your query...">
                <button class = "button" type="submit">Search!</button>
        </form>
        </div>
    </body>
</html>